.tooling/4.properties_files0d863fcb-bcf9-4a1e-8cfd-cfa297a156d9/4.properties_files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<!--  <flow name="4.properties_files_basics" doc:id="71bfe503-2f36-45c6-afcf-ba583b2685f0" >
		<http:listener doc:name="GET /test1" doc:id="e586c175-7c16-4f42-b232-8dcdd29801c3" config-ref="HTTP_Listener_config" path="${http.path}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="91844455-fc2d-46fb-9c9d-1c3ad9f16b9a" message="${message}"/>
		<set-payload value="${message}" doc:name="Set Payload" doc:id="c4470f49-436d-4aa0-acaf-32698d8446a4" />
	</flow> -->
	<flow name="4.properties_files_dynamic" doc:id="d6198719-0116-4e74-9373-5cbc547b943d" >
		<http:listener doc:name="GET /env" doc:id="7d796daa-82b9-499d-84d9-6c287b5031d4" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="a039e5f2-7ba8-49fa-a394-496a06a8f45b" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]'/>
		<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]' doc:name="Set Payload" doc:id="00330bb9-adad-4842-81d7-7f910791b400" />
	</flow>
</mule>
